@mixin flexAlign($hor: center, $ver: center, $pos: row)
{
    align-items: $hor;
    justify-content: $ver;
    flex-direction: $pos;
}
body{
    margin: 0;
}


.wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(black, .7);
    display: flex;
    @include flexAlign();
    
    &__modal{
        display: flex;
        @include flexAlign(center, center, column);
        background: white;
        padding: 40px 20px;
        width: 35%;
        min-width: 320px;

        .modal__field{
            width: 100%;
            display: flex;
            @include flexAlign(center, flex-start, column);
            margin-bottom: 20px;
            &-name{
                font-style: italic;
                font-size: 15px;
                color: gray;
            }
            &-input{
                outline: none;
                width: 100%;
                height: 20px;
                border: 1px solid gray;
                border-radius: 3px;
                padding-left: 7px;
                font-size: 18px;
            }
        }
        .modal__button{
            padding: 10px 20px;
            background: lightblue;
            cursor: pointer;
            font-size: 18px;
            border: 2px solid gray;
            box-sizing: border-box;
            transition: .3s;
            box-shadow: 0 0 7px 0 black;

            &:hover{
                box-shadow: 0 0 0 0 transparent;
            }
        }
    }
}